    
     @font-face {
         font-family: 'Poppins';
         src: url('/fonts/poppins/Poppins-Regular.ttf') format('tff'),  
              url('/fonts/poppins/Poppins-Regular.tff') format('tff'),    
              url('/fonts/poppins/Poppins-Regular.ttf') format('tff'); 
         font-weight: 400;
         font-style: normal;
     }

     @font-face {
         font-family: 'Poppins';
         src: url('/fonts/poppins/Poppins-Bold.tff') format('tff'),
              url('/fonts/poppins/Poppins-Bold.tff') format('tff'),
              url('/fonts/poppins/Poppins-Bold.ttf') format('tff');
         font-weight: 700;
         font-style: normal;
     }


     body {
         font-family: 'Poppins', sans-serif;
     }

     h1, h2, h3, h4, h5, h6 {
         font-family: 'Poppins', sans-serif;
     }
     